{% block content %}
<div class="login-container">
    <div class="login-box">
        <h2>LogIn</h2>
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-btn">LogIn</button>
        </form>

        <p class="register-link">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background: linear-gradient(135deg, #cfda35ff 0%, #d2d87fff 100%);
        min-height: 50vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .login-container {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        box-shadow: 0px 4px 10px rgba(163, 52, 52, 0.3);
    }
    
    .login-box {
        background: white;

        padding: 40px;
        width: 100%;
        max-width: 400px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }
    
    h2 {
        color: #333;
        text-align: center;
        margin-bottom: 50px;
        font-size: 30px;
    }
    
    form p {
        margin-bottom: 30px;
    }
    
    form label {
        display: block;
        color: #0a0505ff;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    form input[type="text"],
    form input[type="password"],
    form input[type="email"] {
        width: 100%;
        padding: 12px;
        border: 2px solid #f7f305ff;
        border-radius: 10px;
        font-size: 15px;
        box-sizing: border-box;
        transition: border-color 0.3s;
    }
    
    form input[type="text"]:focus,
    form input[type="password"]:focus,
    form input[type="email"]:focus {
        outline: none;
        border-color: #cadd19ff;
    }
    
    .login-btn {
        width: 100%;
        padding: 15px;
        background: linear-gradient(135deg, #bada48ff 0%, #c6e02dff 100%);
        color: black;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.2s;
        margin-top: 15px;
    }
    
    .login-btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(168, 170, 60, 0.57);
    }
    
    .register-link {
        text-align: center;
        margin-top: 20px;
        color: #767722ff;
    }
    
    .register-link a {
        color: #cfc42aff;
        text-decoration: none;
        font-weight: bold;
    }
    
    .register-link a:hover {
        text-decoration: underline;
    }
    
    .errorlist {
        list-style: none;
        padding: 0;
        margin: 10px 0;
    }
    
    .errorlist li {
        color: #e74c3c;
        background: #fadbd8;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}